// header settings
.header-wrapper{
    background-color: $secondary-color;
}

.header-wrapper{
    position: sticky;
    top: 0;
    z-index: 10000;
}

.user-navigation{
    @include reset-default;
    .link{
        @include flex-center-row;
    }
}
.register,.login{
    @include flex-center-row;
}
.dropdown-menu{
    color: $link-passive-color;
    background-color: $black-color;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 20px;
}
.dropdown-item{
    border: 5px solid $link-passive-color;
    border-radius: 30px;
    margin: 5px;
    text-align: center;
}
.nav-item{
    margin: 10px 10px;
    @include flex-center-col;
    .nav-link{
        text-align: center;
        min-width: 120px;
    }
    
}
.navbar-nav{
    display: flex;
    flex-wrap: wrap;
}
.collapse{
    .list{
        display: flex;
        flex-direction: column;
    }
}