.main-novosti{
    .post{
        background-color: $black-color-transparent;
        border-radius: 25px;
        text-align: center;
        color: $link-passive-color;
        border: 2px solid $link-passive-color;
        padding: 10px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: 700px;
    }
    .novosti-heading{
        text-align: center;
        padding: 30px;
        max-width: 700px;
        margin: auto;

        .heading{
            color: $link-Active-color;
            font-size: 70px;
        }
        .novosti-text{
            padding: 20px 0;
            color: $link-Active-color;
            font-size: 30px;
            border-top: 2px solid $link-passive-color;

            border-bottom: 2px solid $link-passive-color;

        }
    }
}
